td.aspect{
    width: 500px;
    height: 500px;}

#cell1{
    background-color: rgb(255, 0, 0);
}
#cell2{
    background-color: rgb(0, 204, 255);
}
#cell3{
    background-color: rgb(94, 255, 0);
}
#cell4{
    background-color: rgb(255, 208, 0);
}
#cell5{
    background-color: rgb(0, 68, 255);
}
#cell6{
    background-color: rgb(0, 255, 13);
}
#cell7{
    background-color: rgb(238, 255, 0);
}
#cell8{
    background-color: rgb(17, 0, 255);
}
#cell9{
    background-color: rgb(0, 255, 85);
}